[submodule "external/Leaflet-GeoMixer"]
	path = external/Leaflet-GeoMixer
	url = git@github.com:ScanEx/Leaflet-GeoMixer.git
[submodule "external/gmxControls"]
	path = external/gmxControls
	url = git@github.com:ScanEx/gmxControls.git
[submodule "external/Leaflet.TileLayer.Mercator"]
	path = external/Leaflet.TileLayer.Mercator
	url = git@github.com:ScanEx/Leaflet.TileLayer.Mercator.git
[submodule "external/Leaflet.gmxBaseLayersManager"]
	path = external/Leaflet.gmxBaseLayersManager
	url = git@github.com:ScanEx/Leaflet.gmxBaseLayersManager.git
